.data-table {
  width: 100%;
  padding: 10px;
  background-color: #1b1e2a; /* Dark background */
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th, td {
  border: 1px solid #3a3d4d; /* Table border color */
  padding: 12px;
  text-align: left;
}

th {
  background-color: #1b1e2a;
  font-weight: bold;
}

td {
  background-color: #1b1e2a;
}

tr:hover {
  background-color: #252836;
}

  