.dashboard-container {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
  width: 100%;
}
.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}
.content.expanded {
  margin-left: 250px; /* Adjust based on sidebar width */
}

.content.collapsed {
  margin-left: 80px; /* Adjust based on sidebar width */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #2a2a3a;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container h1 {
  font-size: 24px;
  color: #fff;
  margin: 0;
}

/* Add Button */
.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #0056b3;
}

/* Sub Title */
.sub-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  padding-left: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates a responsive grid */
  gap: 20px; /* Adds space between cards */
  padding: 20px;
}

/* Package Grid */
.package-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Package Card */
.package-card {
  background-color: #3a3a4a;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.package-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Edit Icon */
.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #fff;
}

/* Package Details */
.package-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #fff;
}

.package-card p {
  font-size: 14px;
  margin: 8px 0;
  color: #ddd;
}

.package-card strong {
  color: #fff;
}