
.auth-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #121212; 
  color: #ffffff;
  padding: 0 10%;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .logo img {
  width: 150px; 
  margin-right: 800px !important;
} */

.subtitle {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 400px;
  color: #ccc;
}



.auth-button:hover {
  background-color: #cc0000;
}

.success-image-container {
  display: flex;
  justify-content: center;
}

.success-image {
  max-width: 400px;
}
