.password-set-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242526; 
  padding: 20px;
}

.form-container {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo img {
  width: 100px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff; /* Label text color */
}

.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #3a3b3c; /* Input background color */
  color: #ffffff; /* Input text color */
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ffffff; /* Eye icon color */
}

.error-message {
  color: #F10623;
  margin-bottom: 15px;
}

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #F10623 !important;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #F10623 !important;
}

.image-container {
  display: none;
}

@media (min-width: 768px) {
  .password-set-container {
    flex-direction: row;
  }

  .image-container {
    display: block;
    margin-left: 50px;
  }

  .image-container img {
    width: 300px;
  }
}