/* Reset Password Page Styling */

body {
  background-color: #1c1c1c;
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.reset-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.reset-form {
  
  padding: 40px;
 
  width: 400px;
  text-align: center;
}

.reset-logo img {
  width: 150px;
  margin-bottom: 10px;
}

.reset-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ccc;
}

.reset-input-group {
  text-align: left;
  margin-bottom: 20px;
}

.reset-input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.reset-input-group input,
.reset-input-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background: #181818;
  color: #fff;
}

.reset-button {
  width: 100%;
  padding: 10px;
  background: #e60000;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-button:hover {
  background: #ff1a1a;
}

.reset-image {
  margin-left: 50px;
}

.reset-image img {
  max-width: 400px;
}
