.sidebar {
  height: 100vh;
  background: #1e252b;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  margin-top:60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
}

.sidebar.expanded {
  width: 220px;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  justify-content: space-between;
}

.menu {
  width: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  width: 100%;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu-item.active {
  background: red;
  color: white;
}

.icon {
  font-size: 24px;
}

.text {
  display: none;
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
  color: rgb(243, 243, 243);
}

.sidebar.expanded .text {
  display: inline;
}

.submenu {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.submenu-item {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
}

.submenu-item:hover {
  background-color: #555;
}

.qr-code {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
