body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #242526;
}

.two-fa-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 50px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 300px;
  width: 50px;
}

.two-fa-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.two-fa-text {
  flex: 1;
  padding-right: 50px;
}

h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
  margin-left: 40%;
}

.sms-verification-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  width: 500px;
  margin-left: 40%;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sms-verification-btn:disabled {
  background-color:red;
  cursor: not-allowed;
}

.sms-verification-btn:hover:not(:disabled) {
  background-color: red;
}

.two-fa-image {
 margin-right: 10%;
  Width :500px;
  Height:600px;
  Top:321.46px;
  Left: 894px
}